@import 'var';

@cellWidth: 14%;
@cellContentBottomHeight: 23px;
@cellContentBottomBackground: #fafafa;
@cellContentBottomBorder: 1px solid;

.calendar-container {

   
    table {
        width: 100%;
        height: 100%;

        th {
            width: @cellWidth;
            text-align: center;
        }
        
        td {
            width: @cellWidth;
            border: 1px solid #ddd;
            vertical-align: top;
            color: black;
            padding: @default-padding; 
        }
    }

    .calendar {
        width: 80%;
        height: 100%;
        position: absolute;
        padding: @ribbon-width @default-padding @default-padding @default-padding;
        
        table {
            td {
                &.today {
                    outline: 2px solid #286090;
                }

                p {
                    padding: 0px;
                }
            
                .cell-top {
                    height: 20px;
                }
                
                .cell-container {
                    overflow-x: auto;
                    margin: 0 -@default-padding 0 -@default-padding
                }

                .cell-bottom {
                    height: @cellContentBottomHeight;
                    background: @cellContentBottomBackground;

                    .row-total {
                        display: inline-block;
                        border: none;
                    }
                }
            }

            .mute {
                .cell-bottom {
                    background: none;

                    .row-total{
                        display: block;
                    }
                }
                
                p {
                    color: gray;
                }
            }
        }
    }

    .spending-header {
        margin-right: @default-padding
    }
    
    .spending-row {
        background-color: #fafafa;
        border-left-width: @default-padding;
        border-left-style: solid;
        padding-left: @default-padding
    }

    .row-total {
        height: @cellContentBottomHeight;
        background-color: @cellContentBottomBackground;
        border-top: @cellContentBottomBorder;

        p {
            margin-top: 0 !important;
            padding-top: 2px !important;
            padding-left: 4px !important;
        }
    }

    .calendar-info {
        width: 20%;
        height: 100%;
        position: absolute;
        padding: @ribbon-width @default-padding @default-padding @default-padding;
        right: 0;
    }
}