@import 'var';

nav.toolbar {
    width: 100%;
    height: @ribbon-width;
    background-color: @default-background;
    position: absolute;
    z-index: 1;

    ul {
        list-style: none;
        padding-left: @default-padding;

        li {
            float: left;
            height: @ribbon-width;
            display: table;
            padding: @default-padding;

            a, form {
                display: table-cell;
                vertical-align: middle;    
            }

            &:empty {
                border-left: @default-border;
                margin: @default-padding;
                height: @ribbon-width - @default-padding * 2;
                padding-right: 0;
                padding-left: 0;
            }

            form {
                
                a.btn {
                    width: auto;

                    i {
                        font-size: unset;
                    }
                }

                & .form-group {
                    padding-right: @default-padding;
                }

                & .form-group:last-child {
                    padding-right: 0 !important;
                }
            }

            a.btn {
                width: 50px;

                i {
                    font-size: 22px;
                }
            }
        }
    }
}